node_modules
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log.*
lerna-debug.log.*
lib
.idea
examples/ele-fork-ui
examples/pages/en-US
examples/pages/zh-CN
fe.element/ele-fork-ui
.npmrc
coverage
waiter.config.js
examples/app.vue
examples/assets/
examples/components/
examples/docs/
examples/dom/
examples/entry.js
examples/favicon.ico
examples/i18n/
examples/icon.json
examples/index.tpl
examples/nav.config.json
examples/pages/template/
examples/play.js
examples/play/
examples/route.config.js
examples/versions.json
